# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Env files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor/OS
.DS_Store
._*
.vscode/*
!.vscode/extensions.json
.idea/

# TypeScript build info
*.tsbuildinfo
